<ion-content class="bg-light">
  <div id="header" class="bg-gradient-to-br from-red-500 to-yellow-500 text-white rounded-bottom d-flex flex-column"
    style="height: 50%;">
    <div id="app-bar" class="d-flex justify-content-between align-items-center px-3" style="height: 60px;">
      <ion-icon name="arrow-back" style="font-size: 24px;"></ion-icon>
    </div>

    <div id="logo" class="bg-white rounded d-flex justify-content-center align-items-center mx-auto mt-5"
      style="width: 100px; height: 100px;">
      <img src="assets/logo.png" alt="Logo" class="img-fluid" style="width: 70%;" />
    </div>

    <h2 class="text-center fw-bold mt-2" style="font-size: 20px; letter-spacing: 1px;">PIZZADAY</h2>
  </div>

  <div class="card mx-3 position-absolute start-0 end-0" style="top: 37%; border-radius: 20px; box-shadow: none;">
    <div class="card-body px-4 py-4 text-center">

      <div class="mb-3">
        <h1 class="fw-bold fs-5 mb-1">Seja Bem-vindo(a)</h1>
      </div>

      <div class="mb-4">
        <label for="sessionIdInput" class="block text-gray-700 text-lg font-medium mb-2">
          CPF:
        </label>
        <input id="username" [(ngModel)]="username" class="form-control" placeholder="Ex: 999-999-999-99" />
      </div>

      <div class="mb-4">
        <label for="nome" class="text-gray-700 text-lg font-medium">Nome:</label>
        <input id="nome" [(ngModel)]="nome" type="text" class="form-control mb-3" placeholder="Ex: João Pedro">
      </div>

      <div class="mb-4" *ngIf="showRoomEnter">
        <label for="sessionId" class="text-gray-700 text-lg font-medium">Digite o ID da Sala:</label>
        <input id="sessionId" [class.animate-popIn]="animatePop" [(ngModel)]="sessionId" type="text"
          class="form-control mb-3" placeholder="Ex: pizza-party-123">
      </div>

      <button (click)="joinSession()"
        class="w-full bg-red-600 text-white px-6 rounded-xl text-lg font-semibold hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 transition-all duration-200 shadow-md hover:shadow-lg mb-2"
        style="height: 40px;">
        Entrar
      </button>

      <button (click)="generateId()"
        class="w-full h-10 text-base rounded-xl font-normal capitalize border border-red-600 text-red-600 hover:bg-red-600 hover:text-white transition duration-150 ease-in-out">
        Gerar ID
      </button>

      <div class="line-text position-relative mt-4" style="height: 20px;">
        <span class="lines position-absolute top-50 start-0 w-100 border-top border-secondary"></span>
        <span
          class="text position-absolute top-50 start-50 translate-middle bg-white px-3 fs-8 fw-semibold text-secondary">
          Entrar como
        </span>
      </div>

      <div class="flex space-x-6 mt-4 align-items-center justify-center">
        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" [(ngModel)]="checkbox1" (click)="showRoomEnter = !showRoomEnter"
            class="form-checkbox h-5 w-5 text-red-600 rounded focus:ring-red-500">
          <span class="text-gray-800 text-base">Anfitrião</span>
        </label>

        <label class="flex items-center space-x-2 cursor-pointer">
          <input type="checkbox" [(ngModel)]="checkbox2"
            class="form-checkbox h-5 w-5 text-red-600 rounded focus:ring-red-500">
          <span class="text-gray-800 text-base">Usuário</span>
        </label>
      </div>


      <!-- QR Code Gerado -->
      <!--<div *ngIf="sessionId" class="mt-4">
        <h5 class="mb-2 text-secondary">Compartilhe o QR Code:</h5>
        <div class="d-flex justify-content-center align-items-center">
          <qrcode [qrdata]="'https://89aff07f540a.ngrok-free.app/join/' + sessionId" [width]="180"
            [errorCorrectionLevel]="'M'"></qrcode>
        </div>
        <p class="small mt-2 text-muted">{{ sessionId }}</p>
      </div>-->

      <!-- Divisor -->
      <div class="line-text position-relative mt-4" style="height: 20px;">
        <span class="lines position-absolute top-50 start-0 w-100 border-top border-secondary"></span>
        <span
          class="text position-absolute top-50 start-50 translate-middle bg-white px-3 fs-8 fw-semibold text-secondary">
          Ou conectar usando
        </span>
      </div>

      <!-- Botão para escanear QR Code -->
      <div class="mt-3">
        <button [disabled]="!username" (click)="showScanner = !showScanner" class="btn btn-outline-warning mt-2">
          {{ showScanner ? 'Fechar Scanner' : 'Escanear QR Code' }}
        </button>

        <div *ngIf="showScanner" class="mt-3">
          <zxing-scanner (scanSuccess)="onCodeResult($event)" [torch]="false" [formats]="barcodeFormats"
            style="width: 100%; height: 200px; border: 1px dashed #f59e0b; border-radius: 10px;">
          </zxing-scanner>
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3 p-2 text-center" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</ion-content>